{{- $isWork := .is_work -}}
{{- $mirrorBase := "" -}}
{{- $mirrorNS := "" -}}
{{- if $isWork -}}
{{-   $mirrorBase = .git_mirror_base -}}
{{-   $mirrorNS = .git_mirror_namespace -}}
{{- end -}}

[".oh-my-zsh"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/ohmyzsh.git"
{{- else }}
    url = "https://github.com/ohmyzsh/ohmyzsh.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/fast-syntax-highlighting.git"
{{- else }}
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/fzf"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/fzf.git"
{{- else }}
    url = "https://github.com/junegunn/fzf.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/fzf-zsh-plugin"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/fzf-zsh-plugin.git"
{{- else }}
    url = "https://github.com/unixorn/fzf-zsh-plugin.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/you-should-use"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-you-should-use.git"
{{- else }}
    url = "https://github.com/MichaelAquilina/zsh-you-should-use.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-autocomplete.git"
{{- else }}
    url = "https://github.com/marlonrichert/zsh-autocomplete.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-autosuggestions.git"
{{- else }}
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-bat"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-bat.git"
{{- else }}
    url = "https://github.com/fdellwing/zsh-bat.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-completions.git"
{{- else }}
    url = "https://github.com/zsh-users/zsh-completions.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/zsh-syntax-highlighting.git"
{{- else }}
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
{{- end }}
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "git-repo"
{{- if $isWork }}
    url = "{{ $mirrorBase }}/{{ $mirrorNS }}/powerlevel10k.git"
{{- else }}
    url = "https://github.com/romkatv/powerlevel10k.git"
{{- end }}
    clone.args = ["--branch", "v1.15.0", "--depth", "1"]
