
## LOCAL VARIABLES

HOSTNAME=$(hostname)

## --------------------- 


## PATH MODIFICATIONS

export PATH=$PATH:$HOME/bin:$HOME/.local/bin:/usr/local/bin:$HOME/.pixi/bin:$HOME/.cargo/bin
export PATH=$PATH:$HOME/.emacs.d/bin 
{{- if eq .chezmoi.os "darwin" }}
export PATH=$PATH:"/Applications/Emacs.app/Contents/MacOS"
export PATH=$PATH:"$HOME/CodePortableUpdate/VSCODE/Contents/Resources/app/bin"
{{- end }}

## ---------------------


## ENVIRONMENT VARIABLES

### ZSH CONFIG 

export HISTSIZE=999999999
export SAVEHIST=$HISTSIZE
export EDITOR='nvim'

# set -o vi
# unset GREP_OPTIONS

### OTHER

# fzf complains about any of the default -256color terms
# export TERM=tmux-256color

export OPENAI_BASE_URL="http://localhost:8317/v1"
export OPENAI_API_BASE="http://localhost:8317/v1"



## ALIASES

alias vim=nvim

## -----------------------


## FUNCTIONS

cdp () {
    cd "$(python -c "import os.path as _, ${1}; \
                    print(_.dirname(_.realpath(${1}.__file__[:-1])))"
            )"
}

# this is to deal with work's annoying forced idle timeouts
#function ssh() {
#	/usr/bin/ssh -o ServerAliveCountMax=5 -o ServerAliveInterval=30 -o TCPKeepAlive=yes "$@" ;
#}

## ------------------------


# export BROWSER='firefox'


## BIND KEYS

### COMENTING OUT ALL THESE BINDKEYS FOR MAC UNTIL I KNOW IF NEEDED
# don't know why this stopped working...
# bindkey \\C-R history-incremental-search-backward

# not sure what happened.....a
# bindkey "\033[1~" beginning-of-line
# bindkey "\033[4~" end-of-line

# bindkey "^[OH" beginning-of-line
# bindkey "^[OF" end-of-line

# bindkey "\e[3~" delete-char
bindkey ${FZF_WD_BINDKEY:-'^W'} wd_browse_widget


. "$HOME/.local/bin/env"

# export NVM_DIR="$HOME/.nvm"
# [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
# [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
    
                                                                                     
# export FPATH="$HOME/repositories/external/shell_related/eza/completions/zsh:$FPATH"

autoload -Uz edit-command-line && zle -N edit-command-line && bindkey "${key_info[Control]}x${key_info[Control]}e" edit-command-line

## EXTERNAL SOURCING
### Managed

{{- if eq .chezmoi.os "darwin" }}
test -e $HOME/.iterm2_shell_integration.zsh && source $HOME/.iterm2_shell_integration.zsh || true
{{- end }}

# source $HOME/repositories/external/shell_related/dircycle1/dircycle.zsh


### LOCAL UNMANAGED SOURCE FILES
# Source all files in .zshrc.include.d
for f in "$HOME/.zshrc.include.d"/*.zsh(N); do
    source "$f"
done
